
@font-face {
    font-family: lora ;
    src:url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
}

:root {
    
 width: 100%;
  --card-border-color: #080a0a;
  --card-border-thickness: 6px;
  --card-border-radius: 15px;

  --bars-background: #dce0e2;

  --inner-borders-color: #dce0e2;
  --inner-borders-color-title: 
  repeating-linear-gradient(
    45deg,
    rgba(255,255,255,0.012) 0px,
    rgba(255,255,255,0.012) 2px,
    transparent 2px,
    transparent 6px
  ),
  linear-gradient(
    135deg,
    #666,
    #ddd 30%,
    #fff 45%,
    #999 60%,
    #ddd 80%,
    #666
  );

 
  --inner-borders-thickness: 3px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 50px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.project-card {
  font-family: Lora;
  position: relative;
  width: 320px;
  max-height: 500px;
  
  border-radius: var(--card-border-radius);
  box-shadow:
    inset 0 0 0 var(--card-border-thickness)
    var(--card-border-color);
  padding: var(--card-border-thickness);
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition:
    transform 0.15s ease-out,
    box-shadow 0.2s ease;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
  border: 10px solid #080a0a;
}

.carta-color{
  background-image: url(./assets/marcelabr-texture-1818072.jpg);

}

@media (max-width: 1100px) {
  .projects-grid {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (max-width: 720px) {
  .projects-grid {
    grid-template-columns: 320px;
  }
}

.project-shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.project-card:hover .project-shine {
  opacity: 1;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  margin-top: 7px;
  margin-bottom: 0;
  padding: 3px 8px;
  color: #274C56;
  /* MARCO ROJO */
box-shadow:
  0 0 0 2px #97aaa0,
    inset 2px 2px 0 #050607,
    inset 0 0 6px 4px rgba(0, 0, 0, 0.55);
  border-radius: 10px / 25px;
  background: var(--inner-borders-color-title);
  position: relative;
  z-index: 2;
}

.card-header h3 {
  margin: 0 3px;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #080a0a;
  text-transform: none;
}

.card-symbol {
  font-size: 20px;
}

.project-image {
  position: relative;
  width: calc(100% - 23px);
  height: 210px;
  margin-left: 12px;
  margin-right: 7px;
  margin-top: 4px;
  overflow: hidden;
  background: #274C56;
 box-shadow:
    0 0 0 2px #27332d,
    inset 2px 2px 0 #dce0e2,
    inset -3px -3px 0 #aa9393,
    inset 0 0 4px 4px rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: blur(5px);
  transform: scale(0.90);
  transition:
    filter 0.4s ease,
    transform 0.4s ease;
}

.project-card:hover .project-image img {
  filter: blur(0);
  transform: scale(1.1);
}


/* TEXTO SOBRE LA IMAGEN*/

.preview-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(39, 76, 86, 0.45);
  color: #F6E2B3;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: opacity 0.35s ease;
}

.project-card:hover .preview-overlay {
  opacity: 0;
}


/* BARRA TYPE */

.card-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 5px;
  margin-bottom: 4px;
  padding: 8px 14px;
  background: var(--inner-borders-color-title);
  color: #15181a;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow:
  0 0 0 2px #97aaa0,
    inset 2px 1px 4px #09090a,
    inset 0 0 4px 4px rgba(0, 0, 0, 0.55);
  border-radius: 10px / 25px;
}


/* DESCRIPCIÓN */

.card-description {
  margin: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 15px;
  padding-bottom: 50px;
  color: #274C56;
  background: var(--bars-background);
  font-size: 12px;
  line-height: 1.4;
  font-style: italic;
  word-spacing: 2px;
  text-align: left;
  text-decoration: wavy;
  box-shadow:
    0 0 0 2px #97aaa0,
    inset -3px -3px 0 #817777,
    inset 0 0 4px 4px rgba(0, 0, 0, 0.55);
  text-transform: none;
  border-radius: 1%;
 font-family: lora;
 overflow: visible;
}

.card-description p {
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-bottom: 0;
  margin: 0;
  background: var(--card-border-color);
  color: #948282;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #080a0a;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.card-year {
  align-self: flex-end;
}

.card-link {
  position: absolute;
  inset: 0;
  z-index: 30;
}